*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ECECEC;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #E5E5CB;
    height: 150px;
    width: 100%;
    font-size: 20px;
    display: grid;
    grid-template-columns: 7fr 2fr;
}
.header h1{
    display: flex;
    align-self: center;
    padding-left: 80px;
    padding-top: 20px;
    font-size: 2.5em;
    font-weight: 400;
}
.header p{
    display: flex;
    align-self: flex-end;
    font-size: 1.2em;
}
.header p br{
    padding-bottom: 7px;
}

.town{
    color: #1A120B;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100 ;
}
  
.carousel-wrapper {
    height: 90vh;
    position: relative;
    width: 84vw;
    display: block;
    margin: 10px auto ;
    border: 5px solid #E5E5CB;
}
  
.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
  .arrow{
    border: solid #8CC0DE;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow:hover{
    cursor: pointer;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url(./images/img1.jpg);
    background-size: cover;
    border-radius: 5px;
  }
  .item-2 {
    background: url(./images/img2.jpg);
    background-size: cover;
    border-radius: 5px;
  }
  .item-3 {
    background: url(./images/img3.jpg);
    background-size: cover;
    border-radius: 5px;
  }

  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 

.container{
  display: grid;
  margin-top: 20px;
  height:100%;
  width: 100%;
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin: 0 20px;
}
.image4 img{
  display: grid;
  width: 100%;
}
.about-me {
  display: grid;
  border: 1px solid green;
  align-self: center;
  grid-template-columns: repeat(2,1fr);
}
.about-me h2{
  display: grid;
  font-size: 4rem;
  font-weight: 100;
  align-self: start;
 
 
}
.about-me p{
  padding-top: 150px;
  font-size: 1.2rem;
}
#work{
  margin-top: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 1fr);
}

.works img{
  display: grid;
  width: 50vw;
  height: 60vh;
  padding: 10px 10px;
  border-radius: 10%;
}

.works {
  display: grid;
  gap: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.container2{
  font-size: 18px;
  margin-top: 20px;
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}

.building img{
  display: grid;
  border-radius: 10px;
  width: 40vw;
  height: 60vh;
  margin-left: 60px;
}
.building p{
  text-align: center;
  padding: 10px;
}

.container3{
  margin-top: 20px; 
  display:grid;

  grid-template-columns: repeat(2, 1fr);
}

.carousel {
  width: 40vw;
  height: 60vh;
  position: relative;
  
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  width: 50vw;
  height: 60vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 30%;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
  color: lightcyan;
}
.carousel-button.next {
  right: 1em;
  color: lightcyan;
}

.desc > p{
  text-align: center;
  margin: 50px 50px;
  font-size: 30px;
} 

.container4{
  margin-top: 25px;
  width: 100%;
  height: 80vh;

  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.me{
  background-color: #FAEAB1;
}
.container4 img{
  padding: 10px;
  height: 80vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 5px;
}
.contact{
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #ECECEC;
}
.contact h1{
  padding: 50px 0 10px 20px;
  font-size: 40px;
  font-weight: 600;
}
.contact h2{
  padding: 10px 0 10px 20px;
  font-size: 40px;
  font-weight: 600;
}
.contact span{
  font-size: 20px;
  font-weight: 300;
}
.fa{
  font-size: 20px;
  padding: 10px;
  color: goldenrod;
}
